<div class="row m-3 p-3 border border-0 rounded shadow-sm bg-light">
    <h5 class="text-primary fw-bold text-uppercase">Lịch sử khám bệnh</h5>
    <hr>
    <div class="row g-3">
        <div class="col-md-4">
            
        </div>
    </div>
</div>

<div class="row m-2 p-4 border border-0 rounded shadow bg-white">
    <table class="table table-striped table-hover table-bordered caption-top table align-middle">
        <caption class="fw-bold">Danh sách lịch sử khám
            <hr class="m-0">
        </caption>
        <thead>
            <tr class="text-center">
                <th class="fw-bold">#</th>
                <th>Mã lịch</th>
                <th>Bác sĩ</th>
                <th>Trạng thái</th>
                <th>Ngày khám</th>
                <th>Thao tác</th>
            </tr>
        </thead>
        <tbody>
            <% history.forEach((record, index) => { %>
                <tr>
                    <td><%= index + 1 %></td>
                    <td><%= record.id %></td>
                    <td><%= record.Patient.User.name %></td>
                    <td><%= record.Doctor.User.name %></td>
                    <td><%= record.date %></td>
                    <td>
                        <a href="/history-detail/<%= record.id %>" class="btn btn-info btn-sm">
                            <i class="fa-solid fa-file-medical"></i> Xem chi tiết
                        </a>
                    </td>
                </tr>
            <% }) %>
        </tbody>
    </table>
</div>
