<div class="row g-0">
    <div class="container-fluid text-center p-4 position-relative">
        <p class="fs-5 text-gray-700 text-start" id="pageTitle">Chi tiết tài khoản</p>
        <div id="contentArea">
            <div class="d-flex justify-content-center">
                <!-- Card for User Info -->
                <div class="card shadow me-3 p-4" style="width: 22rem; border: 1px solid #e7e1e1; border-radius: 16px; box-shadow: 0 8px 20px rgba(0,0,0,0.05);">
                    <img src="/images/user.png" class="card-img-top text-center" alt="...">
                    <div class="card-body text-center">
                        <p class="card-title text-blue-800 fs-5"><%= user.name %></p>
                        <p class="card-text text-gray-600">Email: <%= user.email %></p>
                    </div>

                    <% if (user.id !== adminId) { %>
                        <% if (user.UserLocks.id) { %>
                            <p class="m-0">Tài khoản bị khóa đến ngày:
                                <span class="text-red-300"><%= user.UserLocks.lockEndTime %></span>
                            </p>
                            <p>Nguyên nhân: <%= user.UserLocks.lockReason %></p>
                            <button type="button" class="btn btn-success w-100" 
                                    id="unlockButton" 
                                    data-bs-toggle="modal" 
                                    data-bs-target="#unlockAccountModal" 
                                    style="border-radius: 10px; font-weight: 500;">
                                Mở khóa tài khoản
                            </button>
                        <% } else { %>
                            <button type="button" class="btn btn-danger w-100" 
                                    id="lockButton" 
                                    data-bs-toggle="modal" 
                                    data-bs-target="#lockAccountModal" 
                                    style="border-radius: 10px; font-weight: 500;">
                                Khóa tài khoản
                            </button>
                        <% } %>
                    <% } %>
                </div>
                <div class="card p-4" style="width: 30rem; border: 1px solid #e7e1e1; border-radius: 16px; box-shadow: 0 8px 20px rgba(0,0,0,0.05);">
                    <div class="card-body">
                        <h5 class="card-title text-center mb-4" style="color: #1e40af; font-size: 1.5rem; font-weight: 500;">Thông tin chi tiết</h5>
                        <div class="row">
                            <div class="col-4">
                                <p class="card-text mb-3"><span style="color: #6b7280;">Giới tính:</span> <span style="color: #1d4ed8; font-weight: 500;"><%= user.sex %></span></p>
                                <p class="card-text mb-3"><span style="color: #6b7280;">Điện thoại:</span> <span style="color: #1d4ed8; font-weight: 500;"><%= user.phone %></span></p>
                                <p class="card-text mb-3"><span style="color: #6b7280;">Ngày tạo:</span> <span style="color: #1d4ed8; font-weight: 500;"><%= user.createdAt %></span></p>
                            </div>
                            <div class="col">
                                <p class="card-text mb-3"><span style="color: #6b7280;">Địa chỉ:</span> <span style="color: #1d4ed8; font-weight: 500;"><%= user.address %></span></p>
                                <p class="card-text mb-3"><span style="color: #6b7280;">Quyền truy cập:</span> <span style="color: #1d4ed8; font-weight: 500;"><%= user.userType %></span></p>
                                <p class="card-text mb-3"><span style="color: #6b7280;">Ngày cập nhật:</span> <span style="color: #1d4ed8; font-weight: 500;"><%= user.updatedAt %></span></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<%- include('../../partials/modals/doctors/lockDoctorModal', { user: user, adminId: adminId }) %>
<%- include('../../partials/modals/doctors/unlockDoctorModal', { user: user, adminId: adminId }) %>
