<style>
    /* Thêm style cho hiệu ứng động */
    .card {
        opacity: 0;
        transform: translateX(6rem);
        transition: opacity 1s ease, transform 1s ease;
    }
    .card.visible {
        opacity: 1;
        transform: translateX(0);
    }
    /* Cải thiện giao diện card */
    .card-header {
        border-radius: 0.375rem 0.375rem 0 0;
    }
    .list-group-item {
        border: none;
        border-radius: 0.25rem;
    }
    .badge {
        font-size: 1rem;
        padding: 0.5em 1em;
        border-radius: 1rem;
    }
</style>

<div class="container py-4 po-ralative">
    <div class="d-flex justify-content-between mb-3">
        <p class="fs-5 text-gray-700 text-start m-0" id="pageTitle">Thông tin bệnh nhân</p>
        <a href="/user-detail/<%= patient.userId %>" class="ms-3 btn btn-outline-primary btn-sm">Quản lý tài khoản</a>
    </div>
    <div id="contentArea">
        <div class="row mb-3 d-flex align-items-stretch">
            <div class="col-4">
                <div class="card h-100 shadow-sm flex-fill">
                    <div class="card-header bg-blue-600 text-white font-weight-bold text-center">
                        THÔNG TIN BỆNH NHÂN
                    </div>
                    <div class="card-body">
                        <% if (patient && patient.User) { %>
                            <div class="list-group">
                                <div class="list-group-item d-flex justify-content-between align-items-center">
                                    <span>Tên bệnh nhân</span>
                                    <span class="badge badge-pill text-blue-600"><%= patient.User.name %></span>
                                </div>
                                <hr class="m-0">
                                <div class="list-group-item d-flex justify-content-between align-items-center">
                                    <span>CMND/CCCD</span>
                                    <span class="badge badge-pill text-blue-600"><%= patient.citizenId ? patient.citizenId : '0922 #### ####' %></span>
                                </div>
                                <hr class="m-0">
                                <div class="list-group-item d-flex justify-content-between align-items-center">
                                    <span>Giới tính</span>
                                    <span class="badge badge-pill text-blue-600"><%= patient.User.sex ? patient.User.sex : 'Nam' %></span>
                                </div>
                                <hr class="m-0">
                                <div class="list-group-item d-flex justify-content-between align-items-center">
                                    <span>Điện thoại</span>
                                    <span class="badge badge-pill text-blue-600"><%= patient.User.phone %></span>
                                </div>
                                <hr class="m-0">
                                <div class="list-group-item d-flex justify-content-between align-items-center">
                                    <span>Địa chỉ</span>
                                    <span class="badge badge-pill text-blue-600 text-wrap text-end w-75"><%= patient.User.address %></span>
                                </div>
                            </div>
                        <% } else { %>
                            <p class="text-danger text-center">Không có thông tin bệnh nhân.</p>
                        <% } %>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card h-100 shadow-sm flex-fill">
                    <div class="card-header bg-blue-600 text-white font-weight-bold text-center">
                        LỊCH KHÁM GẦN ĐÂY
                    </div>
                    <div class="card-body">
                        <div class="table-responsive" style="max-height: 400px; overflow-y: auto;">
                            <table class="mb-4 table table-hover table-sm table-striped table-bordered text-center">
                                <thead class="text-white bg-blue-600 table-lg">
                                    <tr>
                                        <th>ID</th>
                                        <th>Bác sĩ</th>
                                        <th>Ngày khám</th>
                                        <th>Thời gian khám</th>
                                        <th>Thao tác</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% if (!bookings || bookings.length === 0) { %>
                                    <tr>
                                        <td colspan="5" class="text-center text-secondary fst-italic">Bệnh nhân chưa có lịch hẹn</td>
                                    </tr>
                                    <% } else { %>
                                        <% bookings.forEach((booking, index)=> { %>
                                            <tr>
                                                <td class="fw-bold">
                                                    <%= booking.id %>
                                                </td>
                                                <td><%= booking.Schedule.Doctor.User.name %>
                                                </td>
                                                <td class="bg-primary text-white"><%= booking.date %>
                                                </td>
                                                <td>
                                                    <%= booking.Schedule.Timeslot.startTime %> - <%= booking.Schedule.Timeslot.endTime %>
                                                </td>
                                                <td>
                                                    <a class="btn btn-outline-dark btn-sm text-blue-400" href="/booking-detail/<%= booking.id %>">
                                                        <i class="fa-solid fa-circle-info"></i> Thông tin
                                                    </a>
                                                </td>
                                            </tr>
                                            <% }) %>
                                        <% } %>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mb-3 d-flex align-items-stretch">
            <div class="col">
                <div class="card shadow-sm flex-fill">
                    <div class="card-header bg-blue-600 text-white font-weight-bold text-center">
                        LỊCH SỬ KHÁM BỆNH
                    </div>
                    <div class="card-body">
                        <table class="mb-4 table table-hover table-striped table-bordered text-center">
                            <thead class="text-white bg-blue-600 table-lg">
                                <tr>
                                    <th>ID</th>
                                    <th>Bác sĩ</th>
                                    <th>Ngày khám</th>
                                    <th>Ca khám</th>
                                    <th>Thời gian khám</th>
                                    <th>Thao tác</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% if (!historys || historys.length === 0) { %>
                                <tr>
                                    <td colspan="5" class="text-center text-secondary fst-italic">Bệnh nhân chưa có lịch hẹn</td>
                                </tr>
                                <% } else { %>
                                    <% historys.forEach((history, index)=> { %>
                                        <tr>
                                            <td class="fw-bold">
                                                <%= history.id %>
                                            </td>
                                            <td><%= history.Schedule.Doctor.User.name %></td>
                                            <td><%= history.date %></td>
                                            <td class="<%= history.Schedule.Timeslot.shift === 1 
                                                ? 'bg-warning' 
                                                : history.Schedule.Timeslot.shift === 2 
                                                ? 'bg-success text-white' 
                                                : 'bg-secondary text-white' %>">
                                                <%= history.Schedule.Timeslot.shift === 1 
                                                ? 'Sáng' 
                                                : history.Schedule.Timeslot.shift === 2 
                                                ? 'Chiều' 
                                                : 'Tối' %>
                                            </td>
                                            <td>
                                                <%= history.Schedule.Timeslot.startTime %> - <%= history.Schedule.Timeslot.endTime %>
                                            </td>
                                            <td>
                                                <a class="btn btn-outline-dark btn-sm text-blue-400" href="/booking-detail/<%= history.id %>">
                                                    <i class="fa-solid fa-circle-info"></i> Thông tin
                                                </a>
                                            </td>
                                        </tr>
                                        <% }) %>
                                    <% } %>
                            </tbody>
                        </table>
                        <!-- Phân trang -->
                        <% if (bookings.length > 0) { %>
                            <%- include('../../partials/common/pagination', { 
                                currentPage: currentPage, 
                                totalPages: totalPages, 
                                baseUrl: `/patient-detail/${patient.id}` 
                            }) %>
                        <% } %>
                    </div>
                </div>
            </div>
        </div>
            
        <div class="row my-2 d-flex align-items-stretch">
            <div class="col d-flex">
                <div class="card shadow-sm flex-fill">
                    <div class="card-header bg-blue-600 text-white font-weight-bold text-center">
                        ⭐ ĐÁNH GIÁ CỦA BỆNH NHÂN
                    </div>
                    <div class="card-body">
                        <div class="table-responsive" style="max-height: 400px; overflow-y: auto;">
                            <%- include('../../partials/patients/patientReviewList') %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    // Thêm class 'visible' cho từng card với độ trễ để tạo hiệu ứng tuần tự
    document.addEventListener('DOMContentLoaded', () => {
        const cards = document.querySelectorAll('.card');
        cards.forEach((card, index) => {
            setTimeout(() => {
                card.classList.add('visible');
            }, index * 50); // Độ trễ 200ms giữa mỗi card
        });
    });
</script>